:host{
  height: 100vh;
  display: block;
}

.background-cover{
  filter: blur(5px);
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

.blurred-bg{
  background-color: rgba(0,0,0, 0.4);
}

.cover{
  height: 50rem;
  width: 30rem;
}
