<div class="surface-card p-4 mb-5 border-round-md w-full">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">Add a new view schedule</div>
  </div>

  <form class="flex flex-wrap gap-3" [formGroup]="f" (ngSubmit)="submit()">
    <app-inp-date-time class="inp-group" [group]="f" [control]="$any(f.get('startTime')!)"
      prop="Start time"></app-inp-date-time>

    <p-dropdown [style]="{'width':'100%'}" class="inp-group w-full" placeholder="Select a movie" formControlName="movie"
      [options]="movies" optionLabel="title"></p-dropdown>

    <p-dropdown [style]="{'width':'100%'}" class="inp-group w-full" placeholder="Select a hall" formControlName="hall"
      [options]="halls" optionLabel="id"></p-dropdown>

    <button pButton pRipple class="inp-group w-full" [disabled]="f.invalid" type="submit" label="Submit"></button>
  </form>
</div>
<p-toast></p-toast>
