.cards-grid{
  max-width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (min-width: 960px){
  .cards-grid{
    margin: 0 auto;
    max-width: 80%;
  }
}
