<div>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-table (onRowSelect)="addScheduleToDelete($event.data)" (onRowUnselect)="removeScheduleToDelete($event.data)" #dt1 [value]="schedules" dataKey="id" editMode="row" [rows]="10" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['movie.title', 'hall.id', 'startTime', 'endTime']">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <button pButton label="Clear filters" class="p-button-outlined" icon="pi pi-filter-slash"
          (click)="clear(dt1)"></button>

        <button *ngIf="schedulesToDelete.length>0" (click)="schedulesRemovalConfirmation()" pButton icon="pi pi-trash" label="Delete schdules" class="p-button-outlined p-button-danger"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th style="width:29%">
          <div class="flex align-items-center">
            Movie
            <p-columnFilter type="text" field="movie.title" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="width:20%">
          <div class="flex align-items-center">
            Hall n°
            <p-columnFilter type="text" field="hall.id" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="width:29%">
          <div class="flex align-items-center">
            Start time
            <p-columnFilter type="date" field="startTime" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="width:29%">
          <div class="flex align-items-center">
            End time
            <p-columnFilter type="date" field="startTime" display="menu"></p-columnFilter>
          </div>
        </th>
        <th style="width:20%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-schedule let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="schedule">
        <td>
          <p-tableCheckbox [value]="schedule"></p-tableCheckbox>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown placeholder="Select a movie" [options]="movies" optionLabel="title"
                [(ngModel)]="schedule.movie"></p-dropdown>
            </ng-template>

            <ng-template pTemplate="output">
              {{schedule.movie.title}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown placeholder="Select a hall" [options]="halls" optionLabel="id"
                [(ngModel)]="schedule.hall"></p-dropdown>
            </ng-template>

            <ng-template pTemplate="output">
              {{ schedule.hall.id }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar [(ngModel)]="schedule.startTime" [minDate]="today!" [showTime]="true" [showSeconds]="false"
                [showIcon]="true" [touchUI]="true">
              </p-calendar>
            </ng-template>

            <ng-template pTemplate="output">
              {{ schedule.startTime | date:'short'}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{ schedule.endTime | date:'short'}}
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(schedule)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="onRowEditSave(schedule)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
              (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No schdules found.</td>
      </tr>
    </ng-template>
  </p-table>
  <app-schedule-form></app-schedule-form>
</div>
