h2::after {
  background-color: crimson;
  height: 5px;
  width: 70px;
  content: "";
  display: block;
  margin: 0 auto;
}

.tickets{
  max-width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 576px){
  .tickets{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 950px){
  .tickets{
    margin: 0 auto;
    max-width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1220px){
  .tickets{
    margin: 0 auto;
    max-width: 80%;
    grid-template-columns: repeat(4, 1fr);
  }
}
