.card{
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem rgba(240, 240, 240, 0.829));
}

.card img{
  flex: 1;
  object-fit: cover;
  width: 100%;
  border-radius: 30px;
}

.card h4{
  font-size: 1.5rem;
}
