<footer class="bg-primary-600 p-3">
  <div class="w-10 mx-auto flex justify-content-evenly">
    <div>
      <h3>GET IN TOUCH</h3>
      <p class="text-white-alpha-70">Address: Via Verdi 12</p>
      <p class="text-white-alpha-70">Email: epicinema@gmail.com</p>
      <p class="text-white-alpha-70">Phone: (+39) 333 4445566</p>

      <label class="block text-white-alpha-70" htmlFor="inp">Subscribe to our newsletter</label>
      <input pInputText id="inp" />
    </div>

    <div>
      <h3>CUSTOM SERVICE</h3>
      <p><a class="text-white-alpha-70">Help & Contact</a></p>
      <p><a class="text-white-alpha-70">Return policy</a></p>
      <p><a class="text-white-alpha-70">Send feedback</a></p>
      <p><a class="text-white-alpha-70">Careers</a></p>
      <p><a class="text-white-alpha-70">Legal notice</a></p>
      <p><a class="text-white-alpha-70">Try something new!</a></p>
    </div>

    <div>
      <h3>BUY YOUR TICKETS VIA:</h3>
      <p class="text-white-alpha-70">Our website</p>
      <p class="text-white-alpha-70">Our mobile app</p>
      <p class="text-white-alpha-70">Authorized sellers</p>
    </div>
  </div>

  <p class="text-center">© Copyrights Epicinema. All rights reserved.</p>
</footer>
