:host{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

$seat-size: 1.5rem;
.seat{
  width: $seat-size;
  height: $seat-size;
  border-radius: 50%;
  transition: scale 200ms;
  cursor: pointer;
}

.seat:hover{
  scale: 1.2;
}

.regular{
  background-color: darkturquoise;
}

.vip{
  background-color: crimson;
}

.booked{
  pointer-events: none;
  background-color: #5C688E;
}

.selected{
  background-color: whitesmoke;
}
